@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
 
  }
  .space-object {
    display: none;
  }
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling entirely */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Fonts */
.kolker-brush-regular {
  font-family: "Kolker Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Background base container */
.parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* Tiled background layers (nebula, stars) */
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.nebula {
  background-image: url('/img/blue-back.png');
  background-size: cover;
  animation: scroll 300s linear infinite;
}

.stars {
  background-image: url('/img/blue-stars.png');
  background-size: cover;
  animation: scroll 200s linear infinite;
}

/* Individual objects (planets, asteroids) */
.space-object {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  animation: float linear infinite;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.planet-big {
  background-image: url('/img/prop-planet-big.png'); 
  width: 20vw; /* scales with viewport width */
  height: 20vw;
  min-width: 600px; /* prevents them from getting too small on mobile */
  max-width: 1000px; /* prevents them from getting huge on large screens */
}

.planet-small {
  background-image: url('/img/prop-planet-small.png'); 
  width: 8vw;
  height: 8vw;
  min-width: 60px;
  max-width: 200px;
}

.asteroid-1 {
  background-image: url('/img/asteroid-1.png'); 
  width: 6vw; 
  height: 6vw;
  min-width: 60px; 
  max-width: 120px; 
  animation: rotate linear infinite; 
}

.asteroid-2 {
  background-image: url('/img/asteroid-2.png'); 
  width: 4vw;
  height: 4vw;
  min-width: 30px;
  max-width: 90px;
  animation: rotate linear infinite;
}

.asteroid-3 {
  background-image: url('/img/asteroid-2.png'); 
  width: 2vw;
  height: 2vw;
  min-width: 30px;
  max-width: 90px;
  animation: rotate-reverse linear infinite;
}

/* Animation */
@keyframes scroll {
  from { background-position: 0 0; }
  to { background-position: -2000px 0; }
}

@keyframes float {
  from { transform: translateX(100vw); }
  to { transform: translateX(-1050px); }
}


@keyframes rotate {
  from { transform: translateX(100vw) rotate(0deg); }
  to { transform: translateX(-1050px) rotate(360deg); }
}


@keyframes rotate-reverse {
  from { transform: translateX(100vw) rotate(0deg); }
  to { transform: translateX(-1050px) rotate(-360deg); }
}

@keyframes orbit {
  0% { transform: translate(0, 0); }
  25% { transform: translate(10px, -10px); }
  50% { transform: translate(0, -20px); }
  75% { transform: translate(-10px, -10px); }
  100% { transform: translate(0, 0); }
}

@keyframes bob {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

@keyframes jiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/* Content Layer */
.page-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Folder */
.folder {
  z-index: 1;
  background-image: url('/img/folder.png');
}

/* Monitor Sticker */
.monitor-sticker {
  z-index: 2;
  background-image: url('/img/monitor.png');
}


/*.monitor-sticker:hover { 
   animation: jiggle 0.3s ease-in-out infinite;
} */

/* Binder Clip 
.binder-clip{
  z-index: 3;
  background-image: url('/img/binder-clip.png');
}
*/

/* Scrap */
.scrap {
  z-index: 4;
  background-image: url(/img/scrap.png);
}

/* Curriculum */
.curriculum {
  z-index: 5;
  background-image: url(/img/curriculum.png);
}

/* Busts */
.busts {
  z-index: 6;
  background-image: url(/img/busts.png);
}

/* Shrines */
.shrines {
  z-index: 7;
  background-image: url(/img/shrines.png);
}

/* TV */
.tv {
  z-index: 8;
  background-image: url(/img/tv.png);
}

/* Express Yourself */
.express-yourself {
  z-index: 9;
  background-image: url(/img/express-yourself.png);
}

/* Blog/Home */
.bloghome {
  z-index: 10;
  background-image: url(/img/bloghome.png);
}

/* Perihelion */
.perihelion {
  z-index: 11;
  background-image: url(/img/perihelion.png);
}

/* Gemini Patch */
.gemini-patch {
  z-index: 12;
  background-image: url(/img/gemini-patch.png);
}

/* Splash */
.splash {
  z-index: 13;
  background-image: url(/img/splash.png);
}

.splash-enter {
  position: absolute;
  z-index: 14;
  background-image: url(/img/coming-soon.gif);
/* background-image: url(/img/enter.gif); */
  top: 45%;
  left: 64%;
  transform: translate(-50%, -50%);
  width: 20%;
  container-type: inline-size;
}

/* Astronaut Sticker */
.astronaut-orbit {
 z-index: 14; 
 animation: orbit 8s ease-in-out infinite;
}
.astronaut-sticker {
  z-index: 15;
  background-image: url('/img/astronaut.png');
  animation: bob 3s ease-in-out infinite;
}

/* About */
.about {
 z-index: 16;
 background-image: url('/img/about.png');
}

/* Earthrise */
.earthrise {
 z-index: 17;
 background-image: url('/img/earthrise.png');
}

/* Links */
.links {
 z-index: 18;
 background-image: url('/img/links.png');
}

/* Now */
.now {
 z-index: 19;
 background-image: url('/img/now.png');
}

/* Sunita */
.sunita {
 z-index: 20;
 background-image: url('/img/Sunita.png');
}

/* Be Kind */
.be-kind {
 z-index: 21;
 background-image: url('/img/be-kind.png');
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Nav containers */

.folder-nav-right {
  position: absolute;
  z-index: 22;
  top: 10.66%;
  right: 18.2%;
  width: 3%;
  height: 40%;
}

.folder-nav-right a {
  position: absolute;
  display: block;
  width: 100%;
  height: 25%;
  cursor: pointer;
  background: rgba(255, 0, 0, 0.3);
}

.folder-nav-right a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 200, 0.4) 0%, transparent 70%);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.folder-nav-right a:hover::before {
  opacity: 1;
}

.folder-nav-right a:nth-child(2) { top: 0%; }
.folder-nav-right a:nth-child(3) { top: 25%; }
.folder-nav-right a:nth-child(4) { top: 50%; }
.folder-nav-right a:nth-child(5) { top: 75%; }


/* Binder clip indicator */
.nav-clip {
  position: absolute;
  width: 1366px;
  transition: top 0.3s ease;
  pointer-events: none;
}

/* Left clip positions */
#clip-left[data-selected="now"] { top: 14.2%; }
#clip-left[data-selected="about"] { top: 30%; }
#clip-left[data-selected="links"] { top: 50%; }

/* Right clip positions */
#clip-right[data-selected="blog"] { top: 10.66%; }
#clip-right[data-selected="shrines"] { top: 25%; }
#clip-right[data-selected="curriculum"] { top: 40%; }
#clip-right[data-selected="colophon"] { top: 55%; }


