@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
 
  }
  .space-object {
    display: none;
  }
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling entirely */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Background base container */
.parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* Tiled background layers (nebula, stars) */
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.nebula {
  background-image: url('/img/blue-back.png');
  background-size: cover;
  animation: scroll 300s linear infinite;
}

.stars {
  background-image: url('/img/blue-stars.png');
  background-size: cover;
  animation: scroll 200s linear infinite;
}

/* Individual objects (planets, asteroids) */
.space-object {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  animation: float linear infinite;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.planet-big {
  background-image: url('/img/prop-planet-big.png'); 
  width: 20vw; /* scales with viewport width */
  height: 20vw;
  min-width: 600px; /* prevents them from getting too small on mobile */
  max-width: 1000px; /* prevents them from getting huge on large screens */
}

.planet-small {
  background-image: url('/img/prop-planet-small.png'); 
  width: 8vw;
  height: 8vw;
  min-width: 60px;
  max-width: 200px;
}

.asteroid-1 {
  background-image: url('/img/asteroid-1.png'); 
  width: 6vw; 
  height: 6vw;
  min-width: 60px; 
  max-width: 120px; 
  animation: rotate linear infinite; 
}

.asteroid-2 {
  background-image: url('/img/asteroid-2.png'); 
  width: 4vw;
  height: 4vw;
  min-width: 30px;
  max-width: 90px;
  animation: rotate linear infinite;
}

.asteroid-3 {
  background-image: url('/img/asteroid-2.png'); 
  width: 2vw;
  height: 2vw;
  min-width: 30px;
  max-width: 90px;
  animation: rotate-reverse linear infinite;
}

/* Animation */
@keyframes scroll {
  from { background-position: 0 0; }
  to { background-position: -2000px 0; }
}

@keyframes float {
  from { transform: translateX(100vw); }
  to { transform: translateX(-1050px); }
}


@keyframes rotate {
  from { transform: translateX(100vw) rotate(0deg); }
  to { transform: translateX(-1050px) rotate(360deg); }
}


@keyframes rotate-reverse {
  from { transform: translateX(100vw) rotate(0deg); }
  to { transform: translateX(-1050px) rotate(-360deg); }
}

/* Content Layer */
.page-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Folder */
.folder {
  z-index: 1;
  background-image: url('/img/folder.png');
}

/* Astronaut Sticker */
.astronaut-sticker {
  z-index: 2;
  background-image: url('/img/astronaut.png');
}

/* Monitor Sticker */
.monitor-sticker {
  z-index: 3;
  background-image: url('/img/monitor.png');
}

/* Binder Clip */
.binder-clip{
  z-index: 4;
  background-image: url('/img/binder-clip.png');
}

/* Scrap */
.scrap {
  z-index: 5;
  background-image: url(/img/scrap.png);
}

/* Curriculum */
.cirriculum {
  z-index: 6;
  background-image: url(/img/curriculum.png);
}

/* Busts */
.busts {
  z-index: 7;
  background-image: url(/img/busts.png);
}

/* Shrines */
.shrines {
  z-index: 8;
  background-image: url(/img/shrines.png);
}

/* TV */
.tv {
  z-index: 9;
  background-image: url(/img/tv.png);
}

/* Express Yourself */
.express-yourself {
  z-index: 10;
  background-image: url(/img/express-yourself.png);
}

/* Blog/Home */
.bloghome {
  z-index: 11;
  background-image: url(/img/bloghome.png);
}

/* Perihelion */
.perihelion {
  z-index: 12;
  background-image: url(/img/perihelion.png);
}

/* Gemini Patch */
.gemini-patch {
  z-index: 13;
  background-image: url(/img/gemini-patch.png);
}

/* Splash */
.splash {
  z-index: 14;
  background-image: url(/img/splash.png);
}